:root {
  --body-background: #151515;
  --body-foreground: #eaeaea;
  --header-background: #b5e853;
  --blockquote-color: #aaa;
  --blockquote-border: #666;
  --container-max-width: 1000px;
  --link-color: #63c0f5;
  --button-background: -webkit-linear-gradient(
    top,
    rgba(40, 40, 40, 0.3),
    rgba(35, 35, 35, 0.3) 50%,
    rgba(10, 10, 10, 0.3) 50%,
    rgba(0, 0, 0, 0.3)
  );
  --button-hover-background: -webkit-linear-gradient(
    top,
    rgba(40, 40, 40, 0.6),
    rgba(35, 35, 35, 0.6) 50%,
    rgba(10, 10, 10, 0.8) 50%,
    rgba(0, 0, 0, 0.8)
  );
}

main {
  max-width: var(--container-max-width);
  margin: 0 auto;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
  background: url("assets/bkg.png") repeat;
  background-size: auto;
  color: var(--body-foreground);
  font-size: 16px;
  line-height: 1.5;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal,
    monospace;
}

.full-width-line {
  width: 100%;
  border-bottom: 1px dashed var(--header-background);
  box-sizing: border-box;
  margin-bottom: 40px;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 45px;
  text-align: center;
}

a {
  color: var(--link-color);
  text-shadow: 0 0 5px rgba(104, 182, 255, 1);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

blockquote {
  color: var(--blockquote-color);
  padding-left: 10px;
  border-left: 1px dotted var(--blockquote-border);
}

button {
  display: inline-block;
  background: -webkit-linear-gradient(
    top,
    rgba(40, 40, 40, 0.3),
    rgba(35, 35, 35, 0.3) 50%,
    rgba(10, 10, 10, 0.3) 50%,
    rgba(0, 0, 0, 0.3)
  );
  padding: 10px 18px;
  border-radius: 50px;
  border: 2px solid rgba(0, 0, 0, 0.7);
  border-bottom: 2px solid rgba(0, 0, 0, 0.7);
  border-top: 2px solid rgba(0, 0, 0, 1);
  color: rgba(255, 255, 255, 0.8);
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 13px;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.75);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.05);
  cursor: pointer;
}

button:hover {
  background: var(--button-hover-background);
}
button:focus {
  outline: 2px solid var(--header-background);
}

.button-icon {
    vertical-align: middle;
    margin-right: 5px;
    margin-top: -2px;
    height: 20px;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 20px;
  letter-spacing: -0.03em;
  font-weight: normal;
  color: var(--header-background);
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(181, 232, 83, 0.1),
    0 0 10px rgba(181, 232, 83, 0.1);
}

.header-col {
  background: rgba(0, 0, 0, 0.1);
  padding-bottom: 40px;
  width: 100%;
}

header h1 {
  font-size: 30px;
  padding-top: 20px;
  font-weight: bolder;
  color: var(--header-background);
  margin-left: -77px;
}

header h2 {
  font-size: 18px;
  font-weight: 300;
  color: #666;
  margin-top: -20px;
}

#loading {
  color: #411;
  text-shadow: 0 0 15px #411;
  font-size: 100px;
}

.intro-text {
    flex: 1;
    padding-right: 20px;
}

.intro-item {
    display: flex;
    align-items: center; /* Align items vertically */
}

.bullet-image {
    width: 20px; /* Adjust size as needed */
    height: auto; /* Maintain aspect ratio */
    margin-right: 10px; /* Space between bullet and text */
}

.intro-image {
    max-width: 600px;
    margin-left: 55%;
    margin-top: -45%;
}


/* Style for the glowing effect */
.glow {
  color: #f00;
  text-shadow: 0px 0px 10px #f00;
}

#loading span {
  display: inline-block;
}

.json-container {
  padding: 20px;
  background-color: #040404;
  border-radius: 5px;
  margin: 20px auto;
  width: 80%;
  max-width: 800px;
}

pre {
  white-space: pre-wrap; /* Wrap long lines */
  word-wrap: break-word; /* Break long words */
}



/* AFter effectrs */
@media screen and (max-width: 1111px) {

  header h1 {
    margin-left: 0;
  }

  main {
    padding-left: 5%;
    padding-right: 5%;
  }

}

@media screen and (max-width: 480px) {
  button {
    margin-top: 10px;
    padding: 10px 20px;
  }
}
@media screen and (max-width: 700px) {
    #loading {
        font-size: 70px;
      }
}

